.scroll_icon {
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    text-align: center;
	position:fixed;
	right:3vw;
    top:8vmin;
    color: #e6d8cf;
    mix-blend-mode: normal;
 
    width: 3rem;
    height: 3rem;
    transition: all 0.5s;
    margin-top: 4vh;
    text-shadow: 0.1em 0.1em 0.07em rgba(0, 0, 0, 0.657);
  }


  @media (max-width: 544px){
    .scroll_icon{
        right:0.3rem;
        width: 1.6rem;
        height:1.6rem;
    }
}
