.newItem{
    background-color: #C4C4C4;
    
    border-radius: 30px;
    margin-bottom: 2vh;
    margin-right: 1.2vw;
    
    height: max-content;
    /* min-width: min-content;
    min-height: fit-content; */
    box-shadow:  0vh 1vh 0.6vh #0000002c;

    display: table-row-group;
}
.newHeader{
    display: flex;
    flex-direction: row;
}
.newImage{
    margin-left: 1vw;
    margin-top: 3vh;
    margin-right: auto;

    border-radius:2vh  ;

    height: 10vw;
    cursor: pointer;
}
.title{
    font-size: calc(14px + (18 - 14px) * ((100vw - 300px) / (1600 - 300)));

    margin-left: 2vh;
    margin-right: 1vh;
    margin-top: 4vh;
    text-align: start;
    cursor: pointer;
}

.descriptionDiv{
    margin-top: 2vh;
    margin-left: 3vw;
    margin-bottom: 4vh;
    height: auto;
}
.newDescription{
    margin-left: 2vw;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}


@media (max-width: 582px){
    .newHeader{
        display:  unset;
        flex-direction: row;
    }
    .newImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius:2vh;
        height: 35vw;
    }
}

