
.scroller{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-behavior:smooth;
    scroll-margin: initial;

}

.menu{
    margin:0;
    padding:0;
    flex-grow: 1;
    margin-right: 8vw;
    display: flex;
    justify-content: center;
    text-align: center;

    
}
.menuOption{
    
    justify-content: center;
    display: flex;
    margin-left: 0.1vw;
    margin-right: 0.1vw;    
    display: inline-flex;
    text-align: center;
}

.link{
    margin-top:0;
    margin-bottom:3vh;
    padding-top:0;
    padding-bottom:0;
    margin-right: 4vw;
    margin-left: 4vw;
    text-align: center;
    align-items: center;
    color:#ebebeb9d;
    font: bold;
    font-size: calc(10 + (100 - 10) * ((100vw - 300px) / (1600 - 300)));
    cursor: pointer;
    transition: ease-in-out;
    -webkit-transition: all 0.3s;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.link:hover{
    color:#ebebeb;
    font-size: 125%;
    text-shadow: 0.1em 0.1em 0.7em rgba(0, 0, 0, 0.726);
}

.selectedOption{
    margin-top:0;
    margin-bottom:3vh;
    padding-top:0;
    padding-bottom:0;
    cursor: pointer;

    transition: ease-in-out;
    -webkit-transition: all 0.3s;
    color:#ebebebca;
    
    text-align: center;
    margin-right: 4vw;
    margin-left: 4vw;
    align-items: center;
    font: bold;
    font-size: calc(10 + (100 - 10) * ((100vw - 300px) / (1600 - 300)));

    border-bottom: 0.5vh solid #ebebeb80;


    transition: ease-in-out;
    -webkit-transition: all 0.2s;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media (max-width: 768px){
    .menu{
        margin-right: 2vw;        
    }
}