.scroller{
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
    height: 34em;
    max-height: 66vh;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-behavior: auto;
    
    margin-right: 27%;
}

@media (max-width: 768){
    .scroller{
        margin-right: 0vw;        
    }
}
@media (max-width: 544px){
    .scroller{
        width: 90vw;
        max-height: 70vh;
        
        margin-right: 3vw;
    }
}

