.scroller{
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
    height: 76.5vh;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-behavior: auto;
    margin-right: 27%;
}

.loading{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}


@media (max-width: 766){
    .scroller{
        height: 72.5vh;
        margin-right: 25%;       
    }
}
@media (max-width: 544px){
    .scroller{
        width: 90vw;
        height: 72.5vh;
        margin-right: 3vw;
    }
}
