.scroller{
    display: grid;
    grid-template-columns: 1fr;
    width: 50vw;
    height: 34em;
    max-height: 65vh;
    margin: 0 auto;
    overflow-y: scroll;
    scroll-behavior: auto;
    
    margin-right: 27%;

}

.loading{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

@media (max-width: 768){
    .scroller{
        margin-right: 0vw;        
    }
}
@media (max-width: 544px){
    .scroller{
        width: 90vw;
        max-height: 68vh;
        
        margin-right: 3vw;
    }
}
