/* =============== Header styles == */
.logo{
    display: block;
    margin-right: auto;
    margin-left: 35%;
    width: 25%;
}

@media (max-width: 582px){
    .logo{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header{
    align-items: center;
    align-content: center;
    
    width: 100vw;
    margin: 0px;
    padding: 0px;
    margin-bottom:2vh;
    padding-bottom:0.5vh;
}

/*================ information icon styles == */
.infoIcon{ 

    cursor: pointer;
    text-align: center;
	position:fixed;
	right:3vw;
    top:2vmax;
    
    width: 3rem;
    height: 3rem;
    color: #e6d8cf;
    mix-blend-mode: normal;
 

    transition: all 0.5s;

    text-shadow: 0.1em 0.1em 0.07em rgba(0, 0, 0, 0.657);
}

.infoIcon:hover{
    color:rgb(255, 255, 255);
    size:150%;
    text-shadow: 0 0 10px blue;
}
/*================ Close and open information configuration ==*/
.closedInfos{
    display: none;
}
.openedInfos{
    width:30vw;
	height:30vh;
	right:3.5vw;
    top: 8vh;
    position:fixed;
    background-color: #2d2d2d;
    border-radius: 30px;
}

/* =============== inside information styles == */
.informationDescription{
    color: #D4D0D2;
    text-align: center;

}

.peaceSymble{ 
    color: #CBE8F7;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

.hearthSymble{
    color:#fa4768; /*D02D28*/
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

/*================ Email stufs  ====*/
.myEmailDiv{
    padding-top: 4vh;
    padding-right: 1vw;
    padding-left: 1vw;
}
.emailText{
    text-decoration: underline;
    cursor:pointer;
    color: #D4D0D2;
    vertical-align: super;
    padding-left: 0.8vw;
}
.emailSymble{
    color: #6F40FF;
    width:4vh;
    height:4vh;
}

.gitSymble{
    cursor:pointer;
    color: #D4D0D2;
    width:4vh;
    height:4vh;
    padding-top: 5vh;
}

@media (max-width: 768px){
    .headerTitle{
        margin-right: 0vw;   
    }
    .openedInfos{
        width:95vw;
    }
    
}

@media (max-width: 544px){
    .infoIcon{
        right:0.3rem;
        padding-top: 2vh;
        width: 1.6rem;
        height:1.6rem;
    }
}


