/* =============== Header styles == */
.logo{
    display: block;
    margin-right: auto;
    margin-left: 35%;
    width: 25%;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

@media (max-width: 582px){
    .logo{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header{
    align-items: center;
    align-content: center;
    
    width: 100vw;
    margin: 0px;
    padding: 0px;
    margin-bottom:2vh;
    padding-bottom:0.5vh;
}

/*================ information icon styles == */
.infoIcon{ 
    cursor: pointer;
    text-align: center;
	position:fixed;
	right:3vw;
    top:2vmax;
    
    width: 3rem;
    height: 3rem;
    color: #e6d8cf;
    mix-blend-mode: normal;
 

    transition: all 0.5s;

    text-shadow: 0.1em 0.1em 0.07em rgba(0, 0, 0, 0.657);
}

.infoIcon:hover{
    color:rgb(255, 255, 255);
    size:150%;
    text-shadow: 0 0 10px blue;
}
/*================ Close and open information configuration ==*/
.closedInfos{
    display: none;
}
.openedInfos{
    /* width:30vw;
	height:30vh; */

    width: min-content;
    min-width: 300px;
    height: min-content;
	right:3.5vw;
    top: 8vh;
    position:fixed;
    background-color: #2d2d2d;
    border-radius: 10%;

    padding: 10px;
}

/* =============== inside information styles == */
.informationDescription{
    font-size: 1rem;
    color: #D4D0D2;
    text-align: center;
}

.peaceSymble{ 
    color: #CBE8F7;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

.hearthSymble{
    color:#fa4768; /*D02D28*/
    padding-right: 0.5vw;
    padding-left: 0.5vw;
}

/*================ Email stufs  ====*/
.contactDiv{
    padding-top: 3vh;
}
.emailText{
    text-decoration: underline;
    cursor:pointer;
    color: #D4D0D2;
    vertical-align: super;
    padding-left: 0.8vw;
}
.emailSymbol{
    color: #6F40FF;
    width:4vh;
    height:4vh;
    cursor:pointer;
}

.twitterSymbol{
    cursor:pointer;
    color: #1C9CEA;
    width:4vh;
    height:4vh;
}
.twitterText{
    text-align: left;
    text-decoration: underline;
    cursor:pointer;
    color: #D4D0D2;
    vertical-align: super;
    padding-left: 0.8vw;
}
.gitSymble{
    cursor:pointer;
    color: #D4D0D2;
    width:4vh;
    height:4vh;
    padding-top: 2vh;
}

@media (max-width: 768px){
    .headerTitle{
        margin-right: 0vw;   
    }

}

@media (max-width: 544px){
    .infoIcon{
        right:0.3rem;
        padding-top: 2vh;
        width: 1.6rem;
        height:1.6rem;
    }
}





/*=========SCROLL BUTTON ============*/
.scroll_icon {
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    text-align: center;
	position:fixed;
	right:3vw;
    top:8vmin;
    color: #e6d8cf;
    mix-blend-mode: normal;
 
    width: 3rem;
    height: 3rem;
    transition: all 0.5s;
    margin-top: 4vh;
    text-shadow: 0.1em 0.1em 0.07em rgba(0, 0, 0, 0.657);
  }


  @media (max-width: 544px){
    .scroll_icon{
        right:0.3rem;
        width: 1.6rem;
        height:1.6rem;
    }
}
